@charset "UTF-8"

/* Vendors
---------------------------------------------- */
@import "vendors/*"
@import "styl/*"
@import url('http://fonts.googleapis.com/css?family=Roboto:300,700,400')
/* Global
---------------------------------------------- */
body
  font-family 'Roboto', sans-serif
  background-color complementary

a 
  text-decoration none
 
hr
  width 100%
  background-color grayblog

p
  text-align justify
  font-size 18px
  color grayblog
/* header
---------------------------------------------- */
.header
  text-align center
  background-color grayblog 
  background-repeat no-repeat
  background-position center
  height 680px 
  padding 10px 0 

.heading
  color #fff
  text-align center
  font-weight 500
  font-size 32px
  line-height 1.95
  font-family 'Roboto', serif;


h2.heading
  margin-top 40px

.heading-menu
  user-select none
  margin-bottom 0px

.heading-menu-li
  bottom 0px
  padding 0px 40px
  color greenblog
  font-size 22px

.header-img
  width 455px
  height 332px
  background-image url("/images/logo-pompeu.svg")
  background-repeat no-repeat
  background-color grayblog
  margin 0 auto
  position relative

.down-img
  width 85px
  background-image url("/images/ic_expand_more_48px.svg")
  background-repeat no-repeat
  margin 0 auto
  padding-bottom 160px
  animation blink 2s steps(2, start) infinite 
  -webkit-animation blink 2s steps(2, start) infinite

@keyframes blink
  10% 
     opacity 1
  35% 
     opacity 0.5
  65% 
     opacity 1
  95% 
     opacity: 0.5
@-webkit-keyframes blink 
  10% 
     opacity 1
  35% 
     opacity 0.5
  65% 
     opacity 1
  95% 
     opacity 0.5

@media screen and (max-width 3000px)
  .mini-menu
    display none

@media screen and (max-width 1000px)
  .header
    background-size auto 100%
    height 500px
  .header-img
    width 100%
  .heading
    font-size 25px

@media screen and (max-width 640px)
  .header
    padding 50px 0
    height 100%
  .heading-menu
    display none
  .heading
    font-size 18px
  .mini-menu
    display block
  .down-img
    padding-bottom 240px

.mini-menu
  position absolute
  width 48px
  height 48px
  background-color greenblog
  background-image url('/images/ic_menu_48px.svg')
  top 0px

.social-cont
  margin 0px

.social-img
  position relative
  height 45px
  width 272px
  background-color #fff
  margin 25px auto
  background-image url("/images/social-link.png")
  background-repeat no-repeat

.social-img a
  display block
  border 5px solid transparent
  border-radius 100%
  position absolute

a.img-twitter
  width 49px
  height 45px
  left 0px
  
a.img-youtube
  width 49px
  height 45px
  left 73px
  
a.img-facebook
  width 49px
  height 45px
  left 150px
  
a.img-github
  width 49px
  height 45px
  left 225px

.search-input
  margin 0 auto
  height 58px
  width 80%
  background-color transparent
         
.styled-input
  margin 2rem 0 1rem
  position relative
  font-size 2.5em

.styled-input label
  color grayblog
  position absolute
  top 5px 
  left 10px
  -webkit-transition all 0.25s cubic-bezier(0.2, 0, 0.03,1)
          transition all 0.25s cubic-bezier(0.2, 0, 0.03,1)
  pointer-events none

input
  width 100%
  border 0px
  border-bottom  1px solid greenblog 
  padding 5px 
  font-size 40px
  color grayblog
  background-image url('/images/search-img.png')
  background-repeat no-repeat
  background-position 100% 50%
  background-color transparent

input ~ span
  display block
  width 0
  height 3px
  background greenblog
  position absolute
  bottom 0
  left 0
  -webkit-transition all 0.125s cubic-bezier(0.2, 0, 0.03, 1)
          transition all 0.125s cubic-bezier(0.2, 0, 0.03, 1)
                  
input:focus
  background none
  outline 0px

input:focus ~ label, input:valid ~ label
  font-size 25px
  color greenblog
  top -25px
  left -1px
  -webkit-transition all 1.125s cubic-bezier(0.2, 0, 0.03, 1)
          transition all 1.125s cubic-bezier(0.2, 0, 0.03, 1)
 
input:focus ~ span 
  width 100%
  -webkit-transition all 0.125s cubic-bezier(0.2, 0, 0.03, 1)
          transition all 0.125s cubic-bezier(0.2, 0, 0.03, 1)
      
.button-search 
  position relative
  float left 
  height 58px
  border none
  width 10.001%
  background-image url('/images/search-img.png')
  background-size 100% 100% 
  background-repeat no-repeat

.button-search:focus
  outline 0

@media screen and (max-width 640px)
  .input
    width 90%
    font-size 30px

.ajax
	width 200px
	height 200px
	margin 0 auto
	padding 0

.voltar-img, .face-icon, .twitter-icon, .google-icon 
  position relative
  display inline
  background-repeat no-repeat
  background-position center
  background-color greenblog
  width 60px      
  height 60px
  border-radius 100%
  border none
  

.voltar-img:hover, .face-icon:hover, .twitter-icon:hover, .google-icon:hover 
  background-color greenhover
  
.voltar-img span, .face-icon span, .twitter-icon span, .google-icon span
  position absolute
  width 90px
  color #FFF
  background #000
  height 30px
  line-height 30px
  text-align center
  visibility hidden
  border-radius 6px
  box-shadow 1px 0px 0px #800000

.tooltips span:after
  content ''
  position absolute
  bottom 100%
  left 50%
  margin-left -8px
  width 0px
  height 0px
  border-bottom 8px solid #000
  border-right 8px solid transparent
  border-left 8px solid transparent

.voltar-img:hover span, .face-icon:hover span, .twitter-icon:hover span, .google-icon:hover span
  visibility visible
  opacity 0.8
  top 70px
  margin-left -22px
  z-index 999

.compartilhar
  position relative 
  margin 0 auto
  width 250px
  height 130px

.compartilhar h1
  text-align center

.icon
  position relative
  margin 0 auto
  height 70px
  padding-left 30px
  padding-top 5px

.post-item
  position relative
  width 80%
  padding-top 45px
  margin 0px auto

.post-center
  width 100%  

.post-title
  font-size 25px
  line-height 1.85
  color rgba(0, 0, 0, 0.75)
  
.post-body
  width 80% 
  text-align justify
  color rgba(0, 0, 0, 0.65)
  font-size 20px
  line-height 1.65

@media screen and (max-width 3000px)
  .post-date
    float right
    margin-top 1% 

@media screen and (max-width 640px)
  .post-title
    width 100%
    font-size 22px
    line-height 1.25
  .post-body
    width 100% 
    text-align justify
    color rgba(0, 0, 0, 0.65)
    font-size 16px
  .post-date
    float none
    margin 0 auto
    width 120px
    margin-top 5px
  .post-day
    margin 0 auto
  .post-mon-year
    text-align center

.post-day 
  font-size 70px
  color #fff
  padding 15px
  background-color grayblog

.post-mon-year  
  font-size 25px
  padding 1px
  color rgba(0, 0, 0, 0.65)

.post-tags
  padding 2%

.post-tag
  color #fff
  padding 5px
  margin-right 5px 
  background greenblog 

  
.footer
  padding 30px
  text-align center
  background-color grayblog
  height 120px
  color complementary

/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)
*/

/*background color*/
.hljs, code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: grayblog;
  color #fff
  -webkit-text-size-adjust: none;
}

/*selection color*/
.hljs::selection,
.hljs span::selection {
  background: grayblog;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41;
}

/*foreground color*/
.hljs,
.hljs-setting .hljs-value,
.hljs-expression .hljs-variable,
.hljs-expression .hljs-begin-block,
.hljs-expression .hljs-end-block,
.hljs-class .hljs-params,
.hljs-function .hljs-params,
.hljs-at_rule .hljs-preprocessor {
  color: #c5c8c6;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-function .hljs-title,
.hljs-keyword .hljs-common,
.hljs-class .hljs-title,
.hljs-decorator,
.hljs-tag .hljs-title,
.hljs-header,
.hljs-sub,
.hljs-function {
  color: #f0c674;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-output .hljs-value,
.hljs-pi,
.hljs-shebang,
.hljs-doctype {
  color: #707880;
}

/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link_url,
.hljs-symbol .hljs-string,
.hljs-argument,
.hljs-hexcolor,
.hljs-input .hljs-prompt,
.hljs-char {
 color: #cc6666
}

/*color: fg_green*/
.hljs-string,
.hljs-special,
.hljs-doctag,
.hljs-addition,
.hljs-important,
.hljs-tag .hljs-value,
.hljs-at.rule .hljs-keyword,
.hljs-regexp,
.hljs-attr_selector {
  color: #b5bd68;
}

/*color: fg_purple*/
.hljs-variable,
.hljs-property,
.hljs-envar,
.hljs-code,
.hljs-expression,
.hljs-localvars,
.hljs-id,
.hljs-variable .hljs-filter,
.hljs-variable .hljs-filter .hljs-keyword,
.hljs-template_tag .hljs-filter .hljs-keyword,
.hljs-name {
 color: #b294bb;
}

/*color: fg_blue*/
.hljs-statement,
.hljs-label,
.hljs-keyword,
.hljs-xmlDocTag,
.hljs-function .hljs-keyword,
.hljs-chunk,
.hljs-cdata,
.hljs-link_label,
.hljs-bullet,
.hljs-class .hljs-keyword,
.hljs-smartquote,
.hljs-method,
.hljs-list .hljs-title,
.hljs-tag {
 color: #81a2be;
}

/*color: fg_aqua*/
.hljs-pseudo,
.hljs-exception,
.hljs-annotation,
.hljs-subst,
.hljs-change,
.hljs-cbracket,
.hljs-operator,
.hljs-horizontal_rule,
.hljs-preprocessor .hljs-keyword,
.hljs-typedef,
.hljs-template_tag,
.hljs-variable,
.hljs-variable .hljs-filter .hljs-argument,
.hljs-at_rule,
.hljs-at_rule .hljs-string,
.hljs-at_rule .hljs-keyword {
  color: #8abeb7;
}

/*color: fg_orange*/
.hljs-type,
.hljs-typename,
.hljs-inheritance .hljs-parent,
.hljs-constant,
.hljs-built_in,
.hljs-setting,
.hljs-structure,
.hljs-link_reference,
.hljs-attribute,
.hljs-blockquote,
.hljs-quoted,
.hljs-class,
.hljs-header {
  color: #de935f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
