!= partial("partials/_header")
.about
  .skills
    h1 Who am I.  
    main.heading-menu
      p 
        | Há alguns anos trabalho com informática e redes de computadores, por muito tempo me mantive distante da linhas de códigos, contudo no final do ano 2012, passei em um vestibular e eis me aqui, tentando passar o pouco que aprendi esses anos.
      p
        | Durante esse tempo, estive mative em apendrer de tudo um pouco, estudei C, C++, Java e hoje detico 80% do meu tempo em JavaScritp e Linux.
      p 
        | Ainda na faculdade participei de competições de programação, representando meu campus em edições estaduais da maratona de programação da ACM, e varias outras online do <a href="http://urionlinejudge.com.br"> Uri The Judge </a> ,e <a href="http://codeforces.com/"> Code Forces </a>, essas competições me ensinaram muito a como resolver problemas sempre focando em performance e trabalho em equipe. 
      p
        | Artigos academicos publiquei, projetos PIBIC e PIVIC participei, minha atuação na universidade é muito insicisa, pois minha busca por conhecimento e desafios sempre foi grande.
      p
        | Hoje sou desenvolvedor Java e nodeJS, com foque em TDD/BDD, confesso que tenho paixão por testes, gosto muito do estilo arquitetural REST (deve ser por ter vindo da area de redes).
      p
        | Não com tempo vou mudando isso aqui KKK T+.
!= partial("partials/_footer")
