.post-item
  .post-details
    .post-center
      a(href="/")
        button(class="voltar-img tooltips")
          span.tooltips voltar
          img(src="/images/ic_arrow_back_48px.svg")
  .tutorial
    a(href="/tutoriais")
      | Videos do Testes 
    .ajax 
      img(src="../images/ajax-loader.gif")
    #dual_y_div(style="width : 900px; height : 500px;")
    #table_div
   != partial("../_partials/_compartilhar") 
   != partial("../_partials/_diqus") 
script(src="http://www.google.com/jsapi")
script(src="../js/graficos.js")
