header.header
  .design-by
    a(href="https://twitter.com/EulerGotardo",target="_blank") Design by @EulerGotardo
  a(href="/")
    .mini-menu
  a(href="/")
    .header-img
  h2.heading Web Developer, Brasilian jiujitsu Fighter and Student
    a(href="#inicio" role="button")
      .down-img
    main.heading-menu
      a.heading-menu-li(href="/") Posts
      span.heading-menu-li-separetor |
      a.heading-menu-li(href="/tutoriais") Tutoriais
      span.heading-menu-li-separetor |
      a.heading-menu-li(href="/about") About
.social-cont
  .social-img
    a(class="img-twitter",href="https://twitter.com/Pompeulimp")
    a(class="img-youtube",href="https://www.youtube.com/channel/UCvSz51aSjjMNJ-L522hJUJg")
    a(class="img-facebook",href="https://www.facebook.com/itacir.pompeu")
    a(class="img-github",href="https://github.com/pompeu")
