title Blog Limp
meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport",content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(name="description", content="Blog e Página pessoal, de um estudante e desenvolvedor, com foco em algoritmos, programação funcional e principalmente performance com uma pegada que busca interação entre academia e mercado, C/C++,  Java , Javascritp(nodeJS) e Python são as principais tecnologias abordadas.")
link(rel='stylesheet', href="/stylus/style.css")
link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css")
link(rel="icon" href="/images/favicon.ico")
