.post-item
  .post-details
    .post-center
      a(href="/")
        button(class="voltar-img tooltips") 
          span.tooltips voltar
          img(src="/images/ic_arrow_back_48px.svg")
      br
      br
      br
      div
        != yield
      .compartilhar
        h1 Compartilhe
        .icon
          a(class="face-icon tooltips", href='https://www.facebook.com/sharer/sharer.php?u=#{url}' onclick="window.open(this.href, 'facebook-share','width=550,height=235');return false;")
            span.tooltips Facebook
            img(src="/images/facebook-icon.svg")
          a(class="twitter-icon tooltips", href="https://twitter.com/intent/tweet?url=#{url}&text=#{resumo}&via=Pompeulimp" onclick="window.open(this.href, 'twitter-share','width=550,height=235');return false;")  
            span.tooltips Twitter
            img(src="/images/twitter-icon.svg")
          a(class="google-icon tooltips",href="https://plus.google.com/share?url=#{url}",onclick="window.open(this.href, 'google-plus-share','width=550,height=235');return false;") 
            span.tooltips Google Plus
            img(src="/images/google-plus-icon.svg")
      != partial("../_partials/_diqus") 
