.post-item
  .post-details
    .post-center
      a(href="/")
        button(class="voltar-img tooltips") 
          span.tooltips voltar
          img(src="/images/ic_arrow_back_48px.svg")
      br
      br
      br
      div
        != yield
      != partial("../_partials/_compartilhar") 
      != partial("../_partials/_diqus") 
