doctype html

html(lang="pt-br")
  head
    != partial("../_partials/_head") 
  body
    != partial("../_partials/_header") 
    != partial("../_partials/_search-btn") 
    != partial("../_partials/_tutoriais") 
    != partial("../_partials/_footer") 
    != partial("../_partials/_analitic") 
